.burger-menu {
    padding-top: 130px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter:  blur(5px);
    z-index: 5;
    transition: .7s;
}

.burger-menu-list {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.burger-menu-list li {
    position: relative;
    font-family: 'NeueMachina';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 81px;
    cursor: pointer;
    transition: .5s;
    background: inherit !important;
}

.burger-menu-list li:not(:last-child)::after {
    content: url(../../assets/images/menuStar.png);
    height: 21px;
    width: 21px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-8px, 36px);
}

.burger-menu-list li:hover {
    transform: scale(1.2);
}

.burger-menu-list li:last-child {
    margin-bottom: 85px;
}

.burger-menu-socials {
    display: flex;
    align-items:center;
    justify-content: center;
}

.burger-menu-socials li {
    cursor: pointer;
}

.burger-menu-socials li:not(:last-child) {
    margin-right: 43px;
}

.burger-menu-socials svg {
    width: 30px;
    height: 23px;
    transition: .5s;
}

.burger-menu-socials svg:hover {
    transform: scale(1.2);
}


@media (max-width:768px) {
    .burger-menu {
        display: block;
    }   
}

@media (max-height:850px) {
    .burger-menu-list li {
        margin-bottom: 60px;
    }

    .burger-menu-list li:last-child {
        margin-bottom: 50px;
    }

    .burger-menu-list li:not(:last-child)::after {
        transform: translate(-8px, 28px);
    }
    
}