.teamSliderElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 265.5px;
    height: 420.85px;
}

.avatar {

}

.teamSliderElement p {
    
}

.teamSliderElement span {

}