.teamSliderElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 265.5px;
    height: 420.85px;
    background: red;
    padding-left: 9px;
    padding-top: 20px;
    padding-bottom: 19px;
    padding-right: 9px;
}

.avatar {
    width: 247px;
    height: 329px;
}

.teamSliderElement p {
    font-family: 'MazzardH';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 140%;
}

.teamSliderElement span {
    font-family: 'TTOctosquares';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 117.8%;
    text-transform: uppercase;
}