.footer {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 50px 78px 50px;
    z-index: 5;
}

.footer>div {
    display: flex;
    align-items:center;
}

.footer ul {
    display: flex;
    align-items: center;
    margin-left: 110px;
}

.footer ul li:not(:last-child) {
    margin-right: 32px;
}