.roadMap {
    position: relative;
    padding-left: 225px;
    padding-top: 260px;
    transition: 1s;
    /* background-image: url(../../assets/images/roadmapbg.png);
    background-position: right;
    background-repeat: no-repeat; */
    /* height: 1540px; */
}

.roadMap__title {
    /* margin-top: 100px; */
    position: relative;
    font-family: 'TTOctosquares';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;
    letter-spacing: 0.365em;
    z-index: 1;
}

.roadMap__title span {
    position: absolute;
    top: -55px;
    left: 87px;
    font-family: 'MazzardH';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    background: linear-gradient(90deg, #FFB800 0%, #FFBAC3 70.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    opacity: 0.95;
    letter-spacing: normal;
}

.line {
    position: absolute;
    top: -37px;
    left: 7px;
}

.roadMap__list {
    position: relative;
    margin-top: 87px;
    /* margin-bottom: 100px; */
}

.div-container {
    -webkit-clip-path: polygon(0 0, 15% 0, 20% 10%, 100% 10%, 100% 90%, 85% 90%, 80% 100%, 0 100%); 
    clip-path: polygon(0 0, 15% 0, 20% 10%, 100% 10%, 100% 90%, 85% 90%, 80% 100%, 0 100%);  
    position: relative;
    padding-top: 23px;
    padding-left: 34px;
    padding-bottom: 23px;
    color: white;
    background: linear-gradient(249.9deg, rgba(255, 255, 255, 0) -24.77%, rgba(255, 255, 255, 0.15) 105.99%);
    backdrop-filter: blur(17px);
    width: 462px;
    transition:.4s;
    cursor: pointer;
    z-index: 2; 
}

/* .div-container h4+p {
    z-index: 3;
} */


.div-container::after {
    content: '';
    position: absolute;
    left: 4px;
    bottom: 4px;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    padding: 9px;
    background: white;
}

.div-container:hover::after {
    content: '';
    position: absolute;
    left: 4px;
    bottom: 4px;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    padding: 9px;
    background: black;
}

.div-container::before{
    content: '';
    position: absolute;
    right: 4px;
    top:21px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    padding: 9px;
    background: white;
}

.div-container:hover::before {
    content: '';
    position: absolute;
    right: 4px;
    top:21px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    padding: 9px;
    background: black;
}

.borderrightroadmap {
    position: absolute;
    content: '';
    right:  0;
    top: 16px;
    width: 395px;
    height: 125px;
    -webkit-clip-path: polygon(0 0, 0 2%, 99.5% 2%, 99.5% 100%, 100% 100%, 100% 0);
    clip-path: polygon(0 0, 0 2%, 99.5% 2%, 99.5% 100%, 100% 100%, 100% 0);
    background: linear-gradient(90deg, #afafaf 0%, #fcfcfc 70.62%);
    opacity: .2;
}

.roadMap__list-item:last-child .borderrightroadmap {
    position: absolute;
    content: '';
    right:  0;
    top: 12px;
    width: 395px;
    height: 125px;
    -webkit-clip-path: polygon(0 0, 0 2%, 99.5% 2%, 99.5% 100%, 100% 100%, 100% 0);
    clip-path: polygon(0 0, 0 2%, 99.5% 2%, 99.5% 100%, 100% 100%, 100% 0);
    background: linear-gradient(90deg, #afafaf 0%, #fcfcfc 70.62%);
    opacity: .2;
}

.roadMap__list-item:last-child .div-container::before{
    content: '';
    position: absolute;
    right: 4px;
    top:17px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    padding: 9px;
    background: white;
}

.roadMap__list-item:last-child:hover .div-container::before{
    content: '';
    position: absolute;
    right: 4px;
    top:17px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    padding: 9px;
    background: black;
}

.roadMap__list::after {
    position: absolute;
    top: 7%;
    left: -75px;
    content: '';
    width: 7px;
    height: 86%;
    background-color: white;
    z-index: 1;
}

.roadMap__list-item {
    position: relative;
    width: 462px;
}

.roadMap__list-item:not(:last-child):nth-child(odd)::after{
    position: absolute;
    content: url(../../assets/images/crystalleft.png);
    left: -111px;
    top: 38px;

    z-index: 2;
}

.roadMap__list-item:last-child::after{
    position: absolute;
    content: url(../../assets/images/crystalleft.png);
    left: -111px;
    top: 20px;
    z-index: 2;
}

.roadMap__list-item:hover:not(:last-child):nth-child(odd)::after{
    position: absolute;
    content: url(../../assets/images/crystalleftfocus.png);
    left: -110px;
    top: 40px;
    z-index: 2;
}

.roadMap__list-item:hover:last-child::after{
    position: absolute;
    content: url(../../assets/images/crystalleftfocus.png);
    left: -110px;
    top: 23px;
    z-index: 2;
}

.roadMap__list-item:nth-child(even)::after{
    position: absolute;
    content: url(../../assets/images/crystalright.png);
    left: -107px;
    top: 38px;
    z-index: 2;
}


.roadMap__list-item:hover:nth-child(even)::after{
    position: absolute;
    content: url(../../assets/images/crystalrightfocus.png);
    left: -106.5px;
    top: 40px;
    /* scale: 0.7; */
    z-index: 2;
}



.roadMap__list-item:hover .div-container      {
    width: 503px;
    padding-top: 37.5px;
    padding-left: 37px;
    padding-bottom: 23px;
    color: black;
    background: white;
}

.roadMap__list-item:not(:last-child) {
    margin-bottom: 63px;
}

.roadMap__list-item h3 {
    font-family: 'NeueMachina';
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 140%;
    transition: .4s;
}

.roadMap__list-item:hover h3 {
    font-size: 45px;
}

.roadMap__list-item h4 {
    font-family: 'MazzardH';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 140%;
}

.roadMap__list-item p {
    font-family: 'MazzardH';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    max-width: 400px;
}

.fade1-1 {
    position: absolute;
    right: 0;
    top: 0;
    background: #FF72E0;
    filter: blur(51.7478px);
    transform: matrix(-0.9, -0.38, 0.44, -0.92, 0, 0);
    width: 184.08px;
    height: 116.16px;
}

.fade2-1 {
    position: absolute;
    left: 40px;
    bottom: -60px;
    background: #FF72E0;
    filter: blur(67.3206px);
    transform: matrix(-0.91, 0.41, 0.41, 0.91, 0, 0);
    width: 191.24px;
    height: 126.35px;
}

.fade3-1 {
    position: absolute;
    right: 70px;;
    top: -30px;
    background: #FF72E0;
    filter: blur(67.3206px);
    transform: matrix(-0.91, 0.41, 0.41, 0.91, 0, 0);
    width: 191.24px;
    height: 126.35px;
}

.fade4-1 {
    position: absolute;
    left: 90px;
    top: -60px;
    background: #FF72E0;
    filter: blur(67.3206px);
    transform: matrix(0.89, -0.33, -0.51, -0.93, 0, 0);
    width: 226.53px;
    height: 131.44px;
}

.fade5-1 {
    position: absolute;
    left: 130px;
    top: 80px;
    background: #FF72E0;
    filter: blur(67.3206px);
    transform: matrix(-0.9, 0.37, 0.45, 0.92, 0, 0);
    width: 205.75px;
    height: 128.36px;
}

.fade1-2 {
    position: absolute;
    right: -100px;
    top: -70px;
    background: #60B3FF;
    filter: blur(51.7478px);
    transform: matrix(-0.83, -0.2, 0.82, -0.96, 0, 0);
    width: 309.88px;
    height: 137.91px;
}

.fade2-2 {
    position: absolute;
    left: -80px;
    bottom: -100px;
    background: #60B3FF;
    filter: blur(51.7478px);
    transform: matrix(0.82, 0.18, -0.89, 0.96, 0, 0);
    width: 332.22px;
    height: 142.46px;
}

.fade3-2 {
    position: absolute;
    right: 20px;;
    top: -40px;
    background: #60B3FF;
    filter: blur(51.7478px);
    transform: matrix(-0.84, -0.21, 0.78, -0.95, 0, 0);
    width: 294.84px;
    height: 134.95px;
}

.fade4-2 {
    position: absolute;
    left: 80px;
    top: -70px;
    background: #60B3FF;
    filter: blur(51.7478px);
    transform: matrix(0.84, -0.21, -0.78, -0.95, 0, 0);
    width: 294.84px;
    height: 134.95px;
}

.fade5-2 {
    position: absolute;
    left: -130px;
    bottom: -100px;
    background: #60B3FF;
    filter: blur(51.7478px);
    transform: matrix(0.75, 0.08, -1.76, 0.97, 0, 0);
    width: 326.5px;
    height: 110.54px;
}

.fade1-3 {
    position: absolute;
    right: -100px;
    top: -70px;
    background: #68E3D5;
    filter: blur(51.7478px);
    transform: matrix(-0.83, -0.2, 0.82, -0.96, 0, 0);
    width: 309.88px;
    height: 137.91px;
}

.fade2-3 {
    position: absolute;
    left: -80px;
    bottom: -100px;
    background: #68E3D5;
    filter: blur(51.7478px);
    transform: matrix(0.82, 0.18, -0.89, 0.96, 0, 0);
    width: 332.22px;
    height: 142.46px;
}

.fade3-3 {
    position: absolute;
    right: 20px;;
    top: -40px;
    background: #68E3D5;
    filter: blur(51.7478px);
    transform: matrix(-0.84, -0.21, 0.78, -0.95, 0, 0);
    width: 294.84px;
    height: 134.95px;
}

.fade4-3 {
    position: absolute;
    left: 80px;
    top: -70px;
    background: #68E3D5;
    filter: blur(51.7478px);
    transform: matrix(0.84, -0.21, -0.78, -0.95, 0, 0);
    width: 294.84px;
    height: 134.95px;
}

.fade5-3 {
    position: absolute;
    left: -130px;
    bottom: -100px;
    background: #68E3D5;
    filter: blur(51.7478px);
    transform: matrix(0.75, 0.08, -1.76, 0.97, 0, 0);
    width: 326.5px;
    height: 110.54px;
}

.fade1-4 {
    position: absolute;
    right: -100px;
    top: -70px;
    background: #7AFFEF;
    filter: blur(51.7478px);
    transform: matrix(-0.83, -0.2, 0.82, -0.96, 0, 0);
    width: 309.88px;
    height: 137.91px;
}

.fade2-4 {
    position: absolute;
    left: -80px;
    bottom: -100px;
    background: #7AFFEF;
    filter: blur(51.7478px);
    transform: matrix(0.82, 0.18, -0.89, 0.96, 0, 0);
    width: 332.22px;
    height: 142.46px;
}

.fade3-4 {
    position: absolute;
    right: 20px;;
    top: -40px;
    background: #7AFFEF;
    filter: blur(51.7478px);
    transform: matrix(-0.84, -0.21, 0.78, -0.95, 0, 0);
    width: 294.84px;
    height: 134.95px;
}

.fade4-4 {
    position: absolute;
    left: 80px;
    top: -70px;
    background: #7AFFEF;
    filter: blur(51.7478px);
    transform: matrix(0.84, -0.21, -0.78, -0.95, 0, 0);
    width: 294.84px;
    height: 134.95px;
}

.fade5-4 {
    position: absolute;
    left: -130px;
    bottom: -100px;
    background: #7AFFEF;
    filter: blur(51.7478px);
    transform: matrix(0.75, 0.08, -1.76, 0.97, 0, 0);
    width: 326.5px;
    height: 110.54px;
}

.fade1-5 {
    position: absolute;
    right: -100px;
    top: -70px;
    background: #8FF2F8;
    filter: blur(51.7478px);
    transform: matrix(-0.83, -0.2, 0.82, -0.96, 0, 0);
    width: 309.88px;
    height: 137.91px;
}

.fade2-5 {
    position: absolute;
    left: -80px;
    bottom: -100px;
    background: #8FF2F8;
    filter: blur(51.7478px);
    transform: matrix(0.82, 0.18, -0.89, 0.96, 0, 0);
    width: 332.22px;
    height: 142.46px;
}

.fade3-5 {
    position: absolute;
    right: 20px;;
    top: -40px;
    background: #8FF2F8;
    filter: blur(51.7478px);
    transform: matrix(-0.84, -0.21, 0.78, -0.95, 0, 0);
    width: 294.84px;
    height: 134.95px;
}

.fade4-5 {
    position: absolute;
    left: 80px;
    top: -70px;
    background: #8FF2F8;
    filter: blur(51.7478px);
    transform: matrix(0.84, -0.21, -0.78, -0.95, 0, 0);
    width: 294.84px;
    height: 134.95px;
}

.fade5-5 {
    position: absolute;
    left: -130px;
    bottom: -100px;
    background: #8FF2F8;
    filter: blur(51.7478px);
    transform: matrix(0.75, 0.08, -1.76, 0.97, 0, 0);
    width: 326.5px;
    height: 110.54px;
}





.bigFade1 {
    /* position: absolute;
    background: #FF72E0;
    opacity: 0.9;
    filter: blur(433.793px);
    transform: matrix(0.91, -0.41, -0.41, -0.91, 0, 0);
    bottom: 0;
    left: -200px;
    width: 873px;
    height: 577px;
    z-index: 0; */
    position: absolute;
    width: max-content;
    height:max-content;
    bottom: 0;
    left: 0px;
    background: #FF72E0;
    opacity: 0.9;
    background-image: url(../../assets/images/bigfade1.png)
}

.bigFade2 {
    position: absolute;
    top: -285px;
    left: 0;
    width: 100%;
}

.bigFade7 {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
}

.background1 {
    position: absolute;
    top: 55px;
    right: 0;
    /* opacity: .7; */
}

@media (max-width: 960px) {
    .roadMap__title {
        font-size: 50px;
    }
    .background1 {
        opacity: .5;
    }
}

@media (max-width: 768px) {
    .roadMap {
        padding-left: 18%;
    }
    .div-container {
        width: 250px;
        height: 227.53px;
        -webkit-clip-path: polygon(0 0, 10% 0, 15% 5%, 100% 5%, 100% 95%, 88% 95%, 85% 100%, 0 100%);
        clip-path: polygon(0 0, 10% 0, 15% 2%, 100% 2%, 100% 98%, 90% 98%, 85% 100%, 0 100%);
        padding-top: 35px;
        padding-bottom: 0;
    }

    .roadMap__title {
        font-size: 40px;
    }

    .roadMap__list {
       margin: 0 auto;
        width: 300px !important;
    }
    .roadMap__list-item {
        margin-left: 0;
        width: 284px !important;
    }
    .roadMap__list-item:hover .div-container      {
        width: 267px;
        height: 243px;
        padding-top: 37.5px;
        padding-left: 37px;
        padding-top: 37.5px;
    }

    .div-container h3 {
        margin-bottom: 4px;
    }
    .div-container p {
        width: 194px;
        
    }

    .borderrightroadmap {
           top: 1px;
           width: 240px;
           height: 290px; 
    }

    .div-container::before {
        content: '';
        position: absolute;
        right: 4px;
        top:10px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        padding: 9px;
        background: white;
        z-index: 4;
    }

    .div-container:hover::before {
        top:10px;
    }

    .roadMap__list-item:last-child .borderrightroadmap {
        top: 1px;
        width: 240px;
        height: 270px;
    }
    
    .roadMap__list-item:last-child .div-container::before{
        top:10px;
    }
    
    .roadMap__list-item:last-child:hover .div-container::before{
        top:10px;
    }

    .roadMap__list-item:last-child .div-container {
        width: 250px;
        height: 173.64px;
    }      

    .roadMap__list-item:last-child::after{
        top: 60px;
    }
    
    .roadMap__list-item:hover:last-child::after{
        top: 62px;
    }

    .fade5-1,.fade5-2,.fade5-3,.fade5-4,.fade5-5,.fade4-5,.fade1-5 {
        left: -100px;
    }

}

@media (max-width: 640px) {
    .roadMap {
      padding-left: 11%;
    }
    
    .roadMap__list {
        margin-left: 21%;
    }
}

@media (max-width: 500px) {
    .roadMap {
      padding-left: 4%;
    }
    
    .roadMap__list {
        margin-left: 21%;
    }
    .roadMap__title {
        letter-spacing: 0.2em;
    }

}