.ourteam {
    margin-top: 327px;
    z-index: 1;
}

.ourteam-title {
    position: relative;
    font-family: 'TTOctosquares';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 100%;
text-align: center;
letter-spacing: 0.21em;
width: 540px;
}

.ourteam-title span {
    position: absolute;
    letter-spacing: normals;
}

.ourteam-eye {
    width: 71px;
    height: 44px;
}