.ourteam {
    margin-top: 337px;
    z-index: 1;
}

.ourteam-title {
    font-family: 'TTOctosquares';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 100%;
text-align: center;
letter-spacing: 0.21em;
}

.ourteam-eye {
    width: 71px;
    height: 44px;
}