.colaborations {
    position: relative;
    /* margin-top: 310px; */
    display: flex;
    flex-direction: column;
    align-items: center
}

.colaborations-title {
    position: relative;
    font-family: 'TTOctosquares';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0.21em;
}

.colaborations-title span {
    position: absolute;
    left: 45%;
    top: -65px; 
    font-family: 'MazzardH';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    background: linear-gradient(90deg, #FFB800 0%, #FFBAC3 70.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing:normal;
    /* text-fill-color: transparent; */
}

.colaborations-title img {
    width: 122px;
    position: absolute;
    left: 42.8%;
    top: -43px;  
    transform: rotateX(180deg);
}

.star {
    position: absolute;
    /* width: 19px;
    height: 19px; */
    top: 24px;
}

.colaborations__list {
    display: flex;
    align-items: center;
    margin-top: 60px;
    font-family: 'TTOctosquares';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
}

.colaborations__list-item {
    padding: 45px 81px;
    background: linear-gradient(249.9deg, rgba(255, 255, 255, 0.039) -24.77%, rgba(255, 255, 255, 0.3) 105.99%);
    backdrop-filter: blur(118px);
}

.colaborations__list-item:not(:last-child) {
    margin-right: 51px;
}