.colaborations {
    margin-top: 310px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.colaborations-title {
    position: relative;
    font-family: 'TTOctosquares';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0.21em;
}

.colaborations-title span {
    position: absolute;
    left: 40%;
    top: 0; 
    font-family: 'MazzardH';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    text-align: center;
    background: linear-gradient(90deg, #FFB800 0%, #FFBAC3 70.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
}

.colaborations-title img {
    position: absolute;
}