.questions {
    margin-top: 338px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions-title {
    position: relative;
    font-family: 'TTOctosquares';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.21em;
    max-width: 538px;
    align-items:center  
}

.FAQ {
    position: absolute;
    font-family: 'MazzardH';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    background: linear-gradient(90deg, #FFB800 0%, #FFBAC3 70.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
/* text-fill-color: transparent; */
}

.lineFAQ {
    position: absolute;
}

.sun {
    margin: 0 20px;
}