.questions {
    margin-top: 338px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background:url(../../assets//images/questionsbg.png);
    background-repeat: no-repeat;
    background-size:cover; */
}

.questions-title {
    position: relative;
    font-family: 'TTOctosquares';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.21em;
    max-width: 538px;
    align-items:center;
    text-align: center;
}

.FAQ {
    position: absolute;
    left: 240px;
    top: -65px;
    font-family: 'MazzardH';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    background: linear-gradient(90deg, #FFB800 0%, #FFBAC3 70.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: normal;
/* text-fill-color: transparent; */
}

.lineFAQ {
    position: absolute;
    left: 206px;
    top: -41px;
    width: 122.5px;
    height: 10px;
    transform: rotateX(180deg);
}

.sun {
    margin: 0 20px 0 5px;
}

.questions__grid {
    background-color: blue;
    margin-top: 90px;
    margin-left: 10%;
    margin-right: 6%;
    margin-bottom: 357px;
    display: grid;
    grid-template-areas: 
    "g1 g1 g1 g2 g2 g2 g3 g3 g3"
    "g1 g1 g1 g2 g2 g2 g3 g3 g3"
    "g1 g1 g1 g2 g2 g2 g3 g3 g3"
    "g1 g1 g1 g7 g7 g7 g3 g3 g3"
    "g4 g5 g6 g7 g7 g7 g8 g8 g8"
    "g9 g9 g9 g7 g7 g7 g8 g8 g8"
    "g9 g9 g9 g7 g7 g7 g8 g8 g8"
    "g9 g9 g9 g10 g10 g10 g8 g8 g8"
    "g9 g9 g9 g10 g10 g10 g8 g8 g8"
    "g9 g9 g9 g10 g10 g10 g11 g11 g11"
    "g13 g13 g13 g10 g10 g10 g11 g11 g11"
    "g13 g13 g13 g12 g14 g14 g11 g11 g11"
    "g13 g13 g13 g12 g14 g14 g11 g11 g11"
    "g13 g13 g13 g12 g14 g14 g11 g11 g11"
    ;
    grid-template-columns: repeat(9, 135px);
    grid-template-rows: repeat(13, 57px);
    -webkit-clip-path: polygon(0 0, 5% 0, 8% 5%, 100% 5%, 100% 95%, 95% 95%, 83% 100%, 0 100%);
    clip-path: polygon(0 0, 5% 0, 8% 5%, 100% 5%, 100% 95%, 95% 95%, 93% 100%, 0 100%);
}

.questions__grid h4 {
    font-family: 'TTOctosquares';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 117.8%;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.questions__grid p {
    font-family: 'MazzardH';
}

.questions__grid>div {
  padding-left: 29px;
}

.g1 {
    grid-area: g1;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 69px;
    padding-bottom: 49px;
}

.g2 {
    grid-area: g2;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 59px;
    padding-bottom: 50px;
}
.g3 {
    grid-area: g3;
    border-bottom: 1px solid white;
    padding-top: 69px;
    padding-bottom: 43px;
}
.g4 {
    grid-area: g4;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content:left;
    align-items:center;
}
.g5 {
    grid-area: g5;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: left;
    align-items:center;
}
.g6 {
    grid-area: g6;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: left;
    align-items:center;
}
.g7 {
    grid-area: g7;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 50px;
}
.g8 {
    grid-area: g8;
    border-bottom: 1px solid white;
    padding-top: 50px;
}
.g9 {
    grid-area: g9;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 50px;
}
.g10 {
    grid-area: g10;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 51px;
}
.g11 {
    grid-area: g11;
    padding-top: 38px;
}
.g12 {
    grid-area: g12;
    border-right: 1px solid white;
    display: flex;
    justify-content:left;
    align-items:center;
    margin-left: 10px;
}
.g13 {
    grid-area: g13;
    border-right: 1px solid white;
    padding-top: 50px;
}
.g14 {
    grid-area: g14;
    border-right: 1px solid white;
    display: flex;
    justify-content:left;
    align-items:center;
    padding-left: 10px;
}

.g14 img {
    padding-left: 10px;
}